{% extends 'index.html' %}

{% block content %}
<title>{{ user.full_name }}</title>
<h1>{{ user.full_name }}</h1>
<img src="{{user.image_url}}" alt="">
<ul>
  <li>ID:{{user.id}}</li>
  <li>First name: {{user.first_name}}</li>
  <li>Last name: {{user.last_name}}</li>
</ul>
  <form >
    <button class="btn btn-success" formaction="/users/{{user.id}}/edit" formmethod="GET">Edit</button>
    <button class="btn btn-danger" formaction="/users/{{user.id}}/delete" formmethod="POST">Delete</button>
    <a class="btn btn-outline-dark" href="/"><i class=" fa fa-caret-left"></i> Back</a>
  </form>
  <h2>Post</h2>
  <ul>
    {% for post in user.posts %}
    <li>
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </li>
    {% endfor %}
  </ul>
  <p><a href="/users/{{ user.id }}/posts/new" class="btn btn-primary">Add Post</a></p>
{% endblock %}